@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto";
}

#root {
    height: 100%;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;

}

#root h1 {
    font-family: "Playfair Display";
}

#root textarea {
    font-family: "Playfair Display"
}

.app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    position: relative;
    width: auto;
    height: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}


.app .header {
    display: flex;
    align-items: center;

    width: 100%;

    height: 120px;
    background: #FFFFFF;
}

.app .header .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    width: 32%;
}

.app .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;

    width: 37%;
}

.main .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5%;
    width: 45%;
    height: 100%;
}

.main .left .text{
    margin: inherit;


    font-weight: 700;
    font-size: 50px;
    line-height: 61px;

    color: #000000;
}

.left h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;

    color: #808080;

}

.text b {
    color: #33BD89;
}

.main .right .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 2%;
    width: 100%;
    height: 90px;
}


.search textarea {
    box-sizing: border-box;
    resize: none;
    width: 80%;
    height: 100%;

    border: 2px solid #000000;
    border-radius: 9px;
    padding: 1% 3%;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}

.search .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

    height: 100%;
    text-transform: uppercase;
}

.circle button {
    width: 90px;
    height: 90px;
    background: #000000;
    border-radius: 50%;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 82px;
}

footer p {
    font-size: 12px;
}

footer img {
    height: 50%;
}


.right h2 {
    margin-top: 0;

    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
}

.right .response {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 380px;
}

.right .response .box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 9px;
    overflow-y: auto;
}

.box pre {
    padding: 0 5%;
    font-size: 16px;
    white-space: pre-line;


    font-weight: 300;
    line-height: 24px;
}

.right .response .move-buttons {
    padding-top: 5%;
}

.box {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}